/* GLOBAL */
:root {
  --darkColor: #000;
  --lightColor: #fff;
  --primaryColor: #5f506b;
  --secondaryColor: #76949f;
  --accentPrimColor: #6a6b83;
  --accentSecColor: #86bbbd;

  --defaultSpacing: 1.6rem;

  --defaultFontFamily: "Roboto";
}

html {
  /* Standard font-size er 16px. 16px = 1em
  10px fordi 10 er enklere å regne på enn 16 */
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--defaultFontFamily);
  color: var(--darkColor);
}

h1,
h2,
h3 {
  font-family: "Bebas Neue";
}

img {
  width: 20rem;
  height: 20rem;
  background-color: var(--primaryColor);
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background-color: var(--lightColor);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1.6rem;
}

.navList {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.6rem;
  list-style-type: none;
}

.navList a {
  text-decoration: none;
  cursor: pointer; /* Skjer automatisk, ikke nødvendig å ha med */
  color: var(--darkColor);
}

.navList a:hover {
  text-decoration: underline;
  color: var(--accentSecColor);
}

.hamburgerIcon {
  height: 3.2rem;
  width: 3.2rem;
  display: none;
  background-color: initial;
}

/* MAIN */
main {
  padding: 0 1.6rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1.6rem; /* For å få ramme rundt */
  border-top: 2px solid var(--primaryColor);
}

/* MEDIA QUERY */
@media (max-width: 426px) {
  /* HEADER */
  .headerNav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .navList {
    display: none;
  }

  .navHamburgerList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .hamburgerIcon {
    display: inline;
  }

  /* MAIN */

  /* FOOTER */
}
